/* global scss */

body {
    font-size: 1.6rem;
    line-height: 1;
    font-family: PingFang SC, Tahoma, Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, Heiti SC, WenQuanYi Micro Hei, sans-serif
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
letter-spacing: .02em;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}

html {
  font-size: 10px
}

body,
html {
  background: #fff
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

iframe {
  width: 100%;
  height: 100%
}

.one-px-line {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  background: #fafafa;
  position: relative;
  clear: both
}

.border-bottom {
  border-bottom: 1px solid #dcdcdc;
  position: relative
}

a {
  text-decoration: none
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .one-px-line {
    border: 1px solid #e6e6e6
  }
  .one-px-line:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #e6e6e6;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: left bottom
  }
  .border-bottom {
    border-bottom: none
  }
  .border-bottom:after {
    content: "";
    border-bottom: 1px solid #dcdcdc;
    height: 200%;
    width: 200%;
    -webkit-transform: scale(.5);
    transform: .5;
    transform-origin: 0 0;
    -webkit-transform: 0 0;
    position: absolute;
    top: 0;
    left: 0
  }
}

.nc_clearfix {
  display: flex;
  flex-wrap: wrap
}

.nc_clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.inline-block {
  display: inline-block
}

::selection {
  background: #406d91;
  color: #fff
}

::-moz-selection {
  background: #406d91;
  color: #fff
}

::-webkit-selection {
  background: #406d91;
  color: #fff
}

.rc-collapse-content {
  padding: 0!important
}


.content {
  max-width: 625px;
  flex-shrink: 8;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .header-container {
    .container {
      width: 718px;
    }
  }
  .main {
    width: 718px;
  }
}

@media screen and (min-width: 991px) {
  .header-container {
    .container {
      width: 860px;
    }
  }
  .main {
    width: 860px;
  }
}

@media screen and (min-width: 1201px) {
  .header-container {
    .container {
      width: 960px;
    }
  }
  .main {
    width: 960px;
  }
}


/* 过渡动效 */
.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}